#pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(253, 6, 6);
    border-radius: 50%;
}

.trail {
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}